.bloks {
  display: grid;
  max-width: 1360px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "box-1 box-2 box-3 box-4"
      "box-1 box-5 box-6 box-10"
      "box-7 box-8 box-9 box-10"
}

.bloks__item {
  font-size: 24px;
  font-family: "Myriad Pro";
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.bloks div:nth-child(1) {
  grid-area: box-1;
  background: url(/images/1.jpg) center center / cover no-repeat;
  height: 596px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
}
.bloks div:nth-child(2) {
  grid-area: box-2;
  background-color: rgb(187, 187, 187);
  height: 298px;
  font-size: 18px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.357;
}

.bloks div:nth-child(2):before {
  content: "";
  position: absolute;
  max-width: 20px;
  height: 2px;
  background: rgb(255, 255, 255);
  left: 0px;
  right: 90px;
  margin: auto;
  top: 60px;
}

.bloks div:nth-child(2):after {
  content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background: rgb(255, 255, 255);
	left: 90px;
  right: 0px;
  margin: auto;
  top: 60px;
}

.bloks div:nth-child(3) {
  grid-area: box-3;
  background: url(/images/3.jpg) center center / cover no-repeat;
  height: 298px;
}
.bloks div:nth-child(4) {
  grid-area: box-4;
  background-color: rgb(96, 96, 96);
  height: 298px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
}
.bloks div:nth-child(5) {
  grid-area: box-5;
  background: url(/images/2.jpg) center center / cover no-repeat;
  height: 298px;
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
}
.bloks div:nth-child(6) {
  grid-area: box-6;
  background-color: rgb(187, 187, 187);
  height: 298px;
  font-size: 18px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.357;
}

.bloks div:nth-child(6):before {
  content: "";
  position: absolute;
  max-width: 20px;
  height: 2px;
  background: rgb(255, 255, 255);
  left: 0px;
  right: 90px;
  margin: auto;
  top: 60px;
}

.bloks div:nth-child(6):after {
  content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background: rgb(255, 255, 255);
	left: 90px;
  right: 0px;
  margin: auto;
  top: 60px;
}

.bloks div:nth-child(7) {
  grid-area: box-7;
  background: url(/images/5.jpg) center center / cover no-repeat;
  height: 298px;
}
.bloks div:nth-child(8) {
  grid-area: box-8;
  background-color: rgb(96, 96, 96);
  height: 298px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
}
.bloks div:nth-child(9) {
  grid-area: box-9;
  background: url(/images/6.jpg) center center / cover no-repeat;
  height: 298px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
}
.bloks div:nth-child(10) {
  grid-area: box-10;
  background: url(/images/4.jpg) center center / cover no-repeat;
  height: 596px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
}

.bloks__item_pic1 {
  background: url(/images/icons/attention-sign-outline.png) center center / contain no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 40px;
  margin: auto;
}

.bloks__item_pic2 {
  background: url(/images/icons/attention-sign-outline.png) center center / contain no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 40px;
}